/* Container with dynamic background */
.upload-container {
    margin-top: 200px;
    width: 200px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;

    position: relative;
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease-in-out;
}

/* Hide default file input */
#file-upload {
    display: none;
}

/* Upload box with plus icon */
.upload-box {
    width: 100%;
    height: 100%;
    border: 2px dashed #0070f3;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s ease;
}

.upload-box:hover {
    box-shadow:  1px 1px 15px 1px #0070f3;
}