:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Container with dynamic background */
.upload-container {
  width: 200px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;

  position: relative;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease-in-out;
}

/* Hide default file input */
#file-upload {
  display: none;
}

/* Upload box with plus icon */
.upload-box {
  width: 100%;
  height: 100%;
  border: 2px dashed #0070f3;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s ease;
}

.upload-box:hover {
  box-shadow:  1px 1px 15px 1px #0070f3;
}


/* AppBar Styling */
.appBar {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3f51b5; /* You can change the background color */
}

/* Typography inside AppBar */
.appBar .title {
  flex-grow: 2;
  text-align: center;
  color: white; /* Change text color as needed */
}

/* Styling for Tabs */
.tabsContainer {
  background-color: #f0f0f0;
  padding: 10px;
}

.tab {
  color: black !important; /* Ensuring the tab text is black */
  text-transform: none; /* Prevents the tab text from being uppercase */
  font-weight: bold;
}

/* Styling for content when the tab is selected */
.upload {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #e0e0e0; /* Optional background color */
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.upload div {
  font-size: 20px;
  color: #333; /* Text color */
}

/* Styling for the Tabs Container to align it properly */
.tabsContainer {
  /* margin-top: 50px; Adjusts the margin for spacing between AppBar and Tabs */
}

/* Customize the content based on the active tab */
.activeTabContent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
